body {
    text-align: center;
}

.square {
    text-align: center;
    width: 50px;
    background: #60f5ee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: rgb(96, 245, 238);
}

.player, .winner {
    font-size: 30px;
    margin-top: 30px;

}

button {
    margin-top: 10px;
    width: 100px;
    height: 30;
    background:rgb(148, 253, 248);
    cursor: pointer;
}